     /* Apply a colorful UI for the blog cards */
     
     @font-face {
         font-family: dms light;
         src: url(../fonts/DMSans-VariableFont_opsz\,wght.ttf);
     }
     
     #blog {
         font-size: 60px;
         text-align: center;
     }
     
     .blog_page {
         min-height: 700px;
     }
     
     #blog1 {
         font-size: 50px;
         text-align: center;
     }
     
     #blog_para {
         font-size: 20px;
         text-align: center;
     }
     
     .blog_button {
         display: inline-block;
         padding: 10px 15px;
         background-color: #c09207;
         ;
         color: #ffffff;
         border-radius: 0;
         -webkit-transition: all .3s;
         transition: all .3s;
         border: 1px solid #c09207;
     }
     
     .blog_button:hover {
         background-color: transparent;
         color: #c09207;
     }
     
     .card {
         position: relative;
         top: 40px;
         display: flex;
         flex-direction: column;
         min-width: 26px;
         word-wrap: break-word;
         background-color: #fff;
         background-clip: border-box;
         border: 1px solid rgba(0, 0, 0, .125);
         /* border-radius: 0; */
     }
     
     .custom-card {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 0;
         border: solid;
         text-align: center;
         color: rgb(0, 0, 0);
         border-radius: 0px;
         box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
         transition: transform 0.2s ease-in-out;
     }
     
     .card-number {
         background-color: #333;
         color: rgb(0, 0, 0);
         border-radius: 50%;
         /* Circular background for the number */
         padding: 5px 10px;
         font-weight: bold;
         font-size: 16px;
         margin-bottom: 10px;
     }
     
     .card-body {
         padding: 20px;
     }
     
     .card-title {
         font-size: 1.5rem;
         margin-bottom: 10px;
         color: #c09207;
         ;
         font-weight: 900;
         /* Text color */
     }
     
     .card-text {
         font-size: 0.8rem;
         color: rgb(0, 0, 0);
         margin-bottom: 10px;
         font-weight: strong;
     }
     
     .card-textin {
         font-size: 0.rem;
         color: rgb(0, 0, 0);
         margin-bottom: 20px;
         font-weight: bold;
     }
     /* styles.css */
     
     .popover-content {
         display: none;
         position: relative;
         background-color: #fff;
         border: 2px solid #020202;
         padding: 20px;
         text-align: center;
         box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
         z-index: 1;
     }
     
     .popover-content h4 {
         margin-top: 0;
         font-size: 10 px;
     }
     
     .popover-content p {
         margin-top: 10px;
     }
     
     .popover-content iframe {
         max-width: 100%;
     }
     
     .popover-content1 button {
         margin-top: 15px;
     }
     
     .popover-content1 {
         display: none;
         position: relative;
         background-color: #fff;
         border: 2px solid #020202;
         padding: 20px;
         text-align: center;
         box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
         z-index: 1;
     }
     
     .popover-content1 p {
         margin-top: 0;
         font-size: 10 px;
         text-align: start;
     }
     
     .popover-content1 h6 {
         margin-top: 0;
         font-size: 10 px;
         text-align: start;
         font-weight: bold;
     }
     
     .popover-content1 p {
         margin-top: 10px;
     }
     
     .popover-content1 iframe {
         max-width: 100%;
     }
     
     .popover-content1 button {
         margin-top: 15px;
     }
     
     .popover-content2 {
         display: none;
         position: relative;
         background-color: #fff;
         border: 2px solid #020202;
         padding: 20px;
         text-align: center;
         box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
         z-index: 1;
     }
     
     .popover-content2 p {
         margin-top: 0;
         font-size: 10 px;
         text-align: start;
     }
     
     .popover-content2 h6 {
         margin-top: 0;
         font-size: 10 px;
         font-weight: bold;
     }
     
     .popover-content2 p {
         text-align: center;
         margin-top: 10px;
     }
     
     .popover-content2 iframe {
         max-width: 100%;
     }
     
     .popover-content2 button {
         margin-top: 15px;
     }
     
     .popover-content3 {
         display: none;
         position: relative;
         background-color: #fff;
         border: 2px solid #020202;
         padding: 20px;
         text-align: center;
         box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
         z-index: 1;
     }
     
     .popover-content3 p {
         margin-top: 0;
         font-size: 10 px;
         text-align: start;
     }
     
     .popover-content3 h6 {
         margin-top: 0;
         font-size: 10 px;
         font-weight: bold;
     }
     
     .popover-content3 p {
         text-align: start;
         margin-top: 10px;
     }
     
     .popover-content3 iframe {
         max-width: 100%;
     }
     
     .popover-content3 button {
         margin-top: 15px;
     }
     
     .women_card {
         padding: 10px;
     }
     
     .btn {
         background-color: #333;
         color: #fff;
         border: none;
     }
     
     .custom-card:hover {
         transform: scale(1.05);
         /* Gradient color on hover */
     }
     /* Colorful footer */
     
     footer {
         text-align: center;
         padding: 1rem 0;
         color: rgb(0, 0, 0);
     }