@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

* {

    font-family: 'DM Sans', sans-serif;
}

#products {
    background: whitesmoke;
}

#product h1 {
    font-size: 23px;
    letter-spacing: 3px;
    font-weight: 700;

}

#product img {
    width: 300px;
    height: 300px;
    border: 30px black;

}

.card {
    width: 200px;
    height: 200px;
    box-shadow: 15px 20px 20px rgba(0, 0, 0, .3),
        inset 4px 4px 10px black;
    border-radius: 20px !important;
    overflow: hidden;
    justify-content: center;
    margin: 30px 120px;
    display: inline-block;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card:hover {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .3),
        inset -4px -4px 10px black;

    transition: .2s;
}

/* Change background color */
.custom-title {
    background-color: black;
    /* Replace with your desired background color */
    color: gold;
    /* Replace with your desired text color */
    padding: 10px 20px;
    /* Adjust padding as needed */
    display: inline-block;
    /* Ensure the background color covers the entire text width */
    display: flex;
    justify-content: center;
    align-items: center;
}


.custom-button-style {
    background-color: black !important;
    /* Change to your desired button color */
    border: 2px solid black;
    /* Add a border to the button */
    border-radius: 5px;
    /* Add rounded corners to the button */
    color: gold !important;
    /* Change the text color on the button */
    text-decoration: none;
    /* Remove the default underline on the button text */
    padding: 10px 20px;
    /* Adjust padding as needed */
}

#preview img {
    width: 300px;
    height: 300px;
    border: 30px black;

}

#preview input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 22px;
    margin-right: 10px;
}

#preview p {
    font-size: 23px;
    letter-spacing: 3px;
    font-weight: 100;

}

/* Category filter styling */
#categoryFilter {
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    right: 0;
    background-color: black;
    color: white !important;
    z-index: 1;
}

#filterContainer {
    top: 60px;
    /* Adjust the top position as needed */
    right: 50px;
    /* Adjust the right position as needed */
    position: fixed;
    font-size: larger;
    color: black !important;
}

.custom-option {
    color: gold !important;
}